{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'authuser/css/forms.css' %}">
{% block content %}


<div class="container">
    <p>Login page</p>

    <div class="">
        <h3>Account Login</h3>
    </div>

    <div>
        <form action="" method="POST" class="">
            {% csrf_token %}
            <!-- Input:Username -->

            <table>
                <tr>
                    <td>
                        <label for="formInput#text">EMAIL: </label>
                    </td>
                    <td>
                        <input class="input input--text" id="formInput#text" type="text" name="username"
                            placeholder="Enter your username..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="formInput#password">Password: </label>
                    </td>
                    <td>
                        <input class="input input--password" id="formInput#passowrd" type="password" name="password"
                            placeholder="••••••••" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="align-items: center;">
                        <input type="submit" value="Login">
                    </td>

                </tr>
            </table>

        </form>
    </div>


</div>

{% endblock content %}