{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'forms/css/forms.css' %}">
{% block content %}


<div class="container">
    <p>Login page</p>

    <div class="">
        <h3>Account Login</h3>
    </div>
    <div>
        {{info.username}} | {{info.email}} | {{info.password1}} | {{info.password2}}
    </div>
    <div>
        <form action="" method="POST" class="">
            {% csrf_token %}
            <!-- Input:Username -->

            <table>
                <tr>
                    <td>
                        <label for="formInput#text">Username: </label>
                    </td>
                    <td>
                        <input class="input input--text" id="formInput#text" type="text" name="username"
                            placeholder="Enter your username..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="formInput#text">Email
                    <td>
                        <input class="input input--text" id="formInput#text" type="text" name="email"
                            placeholder="Enter your email..." />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="formInput#password">Password: </label>
                    </td>
                    <td>
                        <input class="input input--password" id="formInput#passowrd" type="password" name="password1"
                            placeholder="password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="formInput#password">Confirm Password: </label>
                    </td>
                    <td>
                        <input class="input input--password" id="formInput#passowrd" type="password" name="password12"
                            placeholder="confirm password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="align-items: center;">
                        <input type="submit" value="Register">
                    </td>

                </tr>
            </table>

        </form>
    </div>


</div>

{% endblock content %}