{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  p {
    line-height: 20px;
  }
</style>
<!-- Main Section -->
<div class="container content">
  <main class="">
    <div class="">
      <a href="{% url 'csvs:runs' %}" class="">BACK TO ALL RUNS</a>
    </div>

    <!-- CARD -->
    <div class="">
      <p class="">
        <b>{{run.run_id}} by Analyst: {{run.data_scientist_id}}</b>
      </p>

      <p class="">run_date: {{run.run_date}}</p>
      <p class="">run_name: {{run.run_name}}</p>
      <p class="">project_id: {{run.project_id}}</p>
      <p class="">mlr_dataset: {{run.mlr_dataset}}</p>
      <p class="">feature_set: {{run.feature_set}}</p>
      <p class="">split: {{run.split}}</p>
      <p class="">tuned: {{run.tuned}}</p>
      <p class="">setup: {{run.setup}}</p>
      <p class="">model_used: {{run.model_used|truncatechars:40}}</p>
      <p class="">holdout_acc: {{run.holdout_acc}}</p>
      <p class="">metrics_dict: {{run.metrics_dict|truncatechars:40}}</p>
      <p class="">accuracy: {{run.accuracy}}</p>
      <p class="">roc_auc: {{run.roc_auc}}</p>
      <p class="">recall: {{run.recall}}</p>
      <p class="">precision: {{run.precision}}</p>
      <p class="">f1: {{run.f1}}</p>
      <p class="">kappa: {{run.kappa}}</p>
      <p class="">mcc: {{run.mcc}}</p>

    </div>
  </main>
</div>
{% endblock %}