{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Section -->
<div class="container content">
      <main class="">
            <h2>upload-file-form.html</h2>
            <form method="POST" enctype="multipart/form-data">

                  {% csrf_token %} {% for field in form %}
                  <div class="form-control {% if field.errors %}errors{% endif %}">
                        <div class="">{{ field.label_tag }}</div>
                        <div class="">{{ field }}</div>
                        <div class="errors">{{ field.errors }}</div>
                  </div>

                  {% endfor %}
                  <div class="form-control">
                        <button type="submit" class="">UPLOAD FILE</button>
                  </div>
            </form>

      </main>
</div>
{% endblock %}