{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Section -->
<style>
  input,
  textarea,
  select {
    border: 2px solid black;
  }

  .form-control {
    margin: 10px 0
  }
</style>
<main class="">
  <div class=">
    <a href=" {% url 'projects:projects' %}" class="">
    <i class="fas fa-backward fa-fw"></i>BACK TO ALL PROJECTS</a>
  </div>


  <!-- Replace with your content -->
  <div class="">
    <div class="">
      <form method="POST" enctype="multipart/form-data">

        {% csrf_token %} {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
          <div class="">{{ field.label_tag }}</div>
          <div class="">{{ field }}</div>
          <div class="errors">{{ field.errors }}</div>
        </div>

        {% endfor %}

        <button type="submit" class="">CREATE
          PROJECT</button>
        <button onclick="myFunction()">Click me!</button>
      </form>
    </div>
  </div>
  </div>
</main>
<script src="{% static 'projects/js/app.js' %}"></script>
{% endblock %}