{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="">
  <div class="mb-8">
    <a href="{% url 'projects:projects' %}" class="">
      <i class="fas fa-backward fa-fw"></i>BACK TO ALL PROJECTS</a>
  </div>


  <!-- CARD -->
  <div class="">
    <div class="" style="background-image: url('{{ project.featured_image.url }}')" title="Woman holding a mug">
    </div>
    <div class="">
      <div class="mb-8">

        <div class="">{{project.title}}</div>
        <p class="">{{project.description}}</p>
      </div>

    </div>
  </div>
  <!-- CARD -->

</main>

{% endblock %}