{% extends 'base.html' %}


{% block content %}
<!-- Main Section -->

<main class="">
  <div class="">

    <div>
      <a href="{% url 'projects:projects' %}" class="">
        <i class="fas fa-backward fa-fw"></i>BACK TO ALL PROJECTS</a>
    </div>
    <!-- Replace with your content -->
    <div class="">
      <div class="">
        <p>project-delete-confirm.html</p>
        <form>
          {% csrf_token %}
          <div>
            <a href="{% url 'projects:project-delete' project.id %}">
              <button type="button" class="" style="width:300px">DELETE
                THIS
                RECORD
              </button>
            </a>
          </div>
          <br>
          <div>
            <a href="{% url 'projects:projects' %}">
              <button type="button" class="" style="width:300px">
                CANCEL DELETE
              </button>
            </a>
          </div>
        </form>
      </div>

</main>


{% endblock %}