{% load static %}

<!-- Header Section -->
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="{% url 'home' %}">DRL</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>

                        {% if user.is_authenticated %}
                        <!-- or request.is_authenticated-->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                DTS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'dts:runs' %}">DTS</a></li>
                                <li><a class="dropdown-item" href="{% url 'dts:upload-file-form' %}">DTS File Upload</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'dts:pandas' %}">DTS Pandas Home</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Reports</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="{% url 'authuser:logout' %}">Logout</a></li>
                        <li><a class="nav-link" href="/admin" target="blank">Admin</a></li>
                        {% else %}
                        <li><a class="nav-link" href="{% url 'authuser:login' %}">Login</a></li>
                        <li><a class="nav-link" href="#">Register</a></li>
                        {% endif %}
                        <li><a class="nav-link" href="#">Help</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
</div>